version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            pip install --upgrade pip
            pip install pytest flake8

      - run:
          name: Lint
          command: |
            flake8 app

      - run:
          name: Run tests
          command: |
            pytest

  docker-build-and-push:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - setup_remote_docker

      - run:
          name: Build Docker image
          command: |
            docker build -t sylwesterreymannwrx92692/zaliczenie_ci_cd_99809:latest .

      - run:
          name: Push Docker image
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker push sylwesterreymannwrx92692/zaliczenie_ci_cd_99809:latest

workflows:
  build-and-test:
    jobs:
      - build-and-test
      - docker-build-and-push:
          requires:
            - build-and-test


